body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

h1,li,ul,p {
    color: rgb(228, 227, 227);
}

li {
    padding: 0;
    padding-left: .8em;
    font-size: 1em;
}


h1 {
    font-weight: bold;
    font-size: 1cm;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


ul ul:hover {
    font-weight: bold;
    font-size: 1.1em;
    transform: scale(1.2);
}

.list-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer {
    min-height: 155px;
    border: 1px solid red;
    margin-top: 60px;
}


.yt-iframe-example {
    display: flex;
    justify-content: center;
}