body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

h1,li,ul,p {
    color: rgb(228, 227, 227);
}

li {
    padding: 0;
    padding-left: .8em;
}

h1 {
    font-weight: bold;
    font-size: 1cm;
    padding-top: .5em;
    padding-bottom: 0;
    padding-left: .3em;
}

p {
    padding: .1em;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: .5em;
}

li, ul {
    font-size: 1.1em;
}